# Auto detect text files and perform LF normalization
* text=auto
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>projeto amador</title>
    </head>
    <body>
    img src="imagens/lampada-acesa.jpg" alt="lâmpada acesa">
        <header>
